html{
    background-color: white;
}

#innhold {
    padding: 50px;   /*Får 50px avstand rundt innhold*/
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
    border: 1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    overflow: hidden;   /*gjemmer overflow*/
    background-color: #126b20;
    position: fixed;   /*fester nav-bar alltid til toppen av skjermen (selv ved scrolling)*/
    top: 0;   /*fester nav-bar til toppen av skjermen*/
    left: 0;
    width: 100%;   /*gjør at nav-bar tar opp hele toppen av siden*/
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #126b20;   /*Fjerner den lille hvite firkanten ved siden av nav-baren*/
    clip-path: inset(0 -100vmax);
}
  
li {
     float: left;   /*flytter alt litt ut på skjermen*/
     text-shadow: 1px 1px black;
}
    
li a {
    display: block;
    color: white;
    text-align: center;   /*koden til nav-bar-elementene*/
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover:not(.active) {
     background-color: #111;   /*nav-bar-elementer får svart bakgrunn når musepekeren er over*/
}

h1, h2, h3 {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;   /*Spesifiserer hvor tykk fonten skal være*/
    font-style: normal;   /*Gjør den ikke-italic*/
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;   /*Spesifiserer hvor tykk fonten skal være*/
    font-style: normal;   /*Gjør den ikke-italic*/
}



#forklaring {
    padding: 10px;   /*Får 50px avstand rundt innhold*/
    margin-right: 500px;
    border: 1px solid black;
}

/* Koden under er hentet fra: https://dev.to/jordanfinners/creating-a-collapsible-section-with-nothing-but-html-4ip9
og har blitt modifisert av Tobias*/
span.ikon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;   /*Tidsrom for transition*/
  margin-left: 10px;
}

details[open] summary span.ikon {
  transform: rotate(180deg);   /*Snur ikonet 180 grader*/
}

summary {
  display: flex;
}

.innledning {
    text-align: center;
}

.punkt1 {
    margin: 100px;
    border: 10px;
    border-color: #126b20;
    color: #126b20;
    text-align: center;
}