ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #126b20;
    position: fixed;
    top: 0;
    width: 100%;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #126b20;   /*Fjerner den lille hvite firkanten ved siden av nav-baren*/
    clip-path: inset(0 -100vmax);
}
  
li {
     float: left;
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover:not(.active) {
     background-color: #111;
}
   
li a.active {
     background-color: #477b82;
}